#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
}
.Main{
  position: fixed; 
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
  background-image: url("nobowl-back.jpg");
  background-repeat: no-repeat;
  color: white;
  background-size: 100%;
}
.menu{
	position: relative;
	 width: 400px ;
	 height: 200px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
	border: 3px solid white;
	background-color: blue;
	text-align:center;
}
.menuButton{
height: 40px;
width: 250px;
text-align: center;
display:block;
margin:0 auto;
position:relative;
font-size:18px;
color:black;
}

.message {
  padding: 3px;
}

.play-again {
  margin-top: 20px;
  padding: 3px;
  font-size: 20px;
}