#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
}
.Main{
  position: fixed; 
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
  background-image: url("nobowl-back.jpg");
  background-repeat: no-repeat;
  color: white;
  background-size: 100%;
}
.menu{
	position: relative;
	 width: 400px ;
	 height: 200px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
	border: 3px solid white;
	background-color: blue;
	text-align:center;
}
.menuButton{
height: 40px;
width: 250px;
text-align: center;
display:block;
margin:0 auto;
position:relative;
font-size:18px;
color:black;
}

.message {
  padding: 3px;
}

.play-again {
  margin-top: 20px;
  padding: 3px;
  font-size: 20px;
}

.full-lane {
  height: 500px;
  width: 240px;
  border: 1px white solid;
  background-color: #CDC0B0;
  margin: 0 auto;
  margin-bottom: 30px;
}

.lane-plank {
  height: 500px;
  width: 33px;
  float: left;
  border-right: 1px white dotted;
  text-align: center;
}

.lane-plank:nth-child(7) {
  border-right: none;
}

.lane-arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid black;
  margin: 0 auto;
  top: 300px;
  position: relative;
}

.lane-plank:nth-child(1) .lane-arrow, .lane-plank:nth-child(7) .lane-arrow {
  top: 400px;
}
.lane-plank:nth-child(2) .lane-arrow, .lane-plank:nth-child(6) .lane-arrow {
  top: 333px;
}
.lane-plank:nth-child(3) .lane-arrow, .lane-plank:nth-child(5) .lane-arrow {
  top: 245px;
}
.lane-plank:nth-child(4) .lane-arrow {
  top: 190px;
}

.pin {
  width: 25px;
  height: 25px;
  background: white;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 12px;
  margin: 3px auto;
}

.lane-plank:nth-child(4) .pin:first-child {
  margin-top: 31px;
}
.lane-plank:nth-child(4) .pin:nth-child(2) {
  margin-top: 31px;
}
.lane-plank:nth-child(3) .pin:first-child, .lane-plank:nth-child(3) .pin:nth-child(3) {
  margin-left: 21px;
}
.lane-plank:nth-child(5) .pin:first-child, .lane-plank:nth-child(5) .pin:nth-child(3) {
  margin-left: -13px;
}
.lane-plank:nth-child(2) .pin:first-child{
  margin-left: 21px;
}
.lane-plank:nth-child(6) .pin:nth-child(1){
 margin-left: -13px;
}




.clear-all {
  clear: both;
}